{% for interface in interfaces %}
interface {{ interface.name }}
Status: {{ interface.enabled | default('Unknown') }}
{% if interface.enabled %}
    no shut
{% endif %}

{% if interface.untagged_vlan %}
    #Untagged VLAN: vlan untagged {{ vlans | selectattr('id', 'equalto', interface.untagged_vlan.id) | list | first | json_query('vid') }}
{% endif %}

{% if interface.tagged_vlans %}
    Tagged VLANs:
    {% for tagged_vlan in vlans | selectattr('id', 'in', interface.tagged_vlans) | list %}
        VID: {{ tagged_vlan.json.vid }}
    {% endfor %}
{% else %}
    No tagged VLANs.
{% endif %}

{% endfor %}
